.open-form,
.reset-form {
  margin-top: 50px;
  margin-left: 50px;
  cursor: pointer;
  color: white;
  padding: 10px 25px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  border-radius: 19px;
  border: 2px solid #83b566;
  background-color: #83b566;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s;
  text-align: center;
}
.form-popup,
.success-message {
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.form-popup .form-wrapper {
  top: 2em;
  max-width: 700px;
  background: white;
  padding: 50px;
  padding-top: 50px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.form-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.close-form {
  border-radius: 0px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #83b566;
  border: 2px solid #83b566;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: 0.3s;
}
.send-form {
  cursor: pointer;
  padding: 10px 30px;
  background-color: #83b566;
  border: 2px solid #83b566;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.3s;
}
.form-control:focus {
  border-color: #83b566;
  box-shadow: 0 0 0 0.2rem rgba(131, 181, 102, 0.25);
}
.btn:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
}
.success-message {
  text-align: center;
}
.success-message h1 {
  color: #ffffff;
  margin-top: 3em;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../img/xbox.gif") center no-repeat rgb(105, 211, 12);
}
